<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @flight.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination %>
</p>

<p>
  <strong>Date:</strong>
  <%= @flight.date %>
</p>

<p>
  <strong>Airplane:</strong>
  <%= @flight.airplane_id %>
</p>
<% if @current_user.present? %>
  <% if @current_user.admin?%>
    <h1>hi admin</h1>
    <%= link_to 'Edit', edit_flight_path(@flight) %>
  <% end %>
<% end %>
<%= link_to 'Back', flights_path %>
