<p id="notice"><%= notice %></p>

<p>
  <strong>Flight number:</strong>
  <%= @airplane.flight_number %>
</p>

<p>
  <strong>Row:</strong>
  <%= @airplane.row %>
</p>

<p>
  <strong>Column:</strong>
  <%= @airplane.column %>
</p>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
